.article-block {
  background-color: white;
  padding: 55px 80px;
  display: inline-block;
  margin-bottom: 150px;

  .article-title {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      margin: 0;
    }

    .article-brand-logo {
      display: inline;
      height: 54px;
    }
  }

  .article-text {
    line-height: 1.8em;
  }
}

.article-alpha {
  background-image: url(images/bg/bg_brend_alpha.jpg);
  background-size: cover;
}

.article-gap {
  background-image: url(images/bg/bg_brend_gap.jpg);
  background-size: cover;
}

.article-sancho {
  background-image: url(images/bg/bg_brend_sancho.jpg);
  background-size: cover;
}

.article-timberland {
  background-image: url(images/bg/bg_brend_stimberland.jpg);
  background-size: cover;
}

.article-schott {
  background-image: url(images/bg/bg_brend_schott.jpg);
  background-size: cover;
}

.article-levis {
  background-image: url(images/bg/bg_brend_levis.jpg);
  background-size: cover;
}

.article-page {

  .ribbon-positioner {
    height: 0;
    position: relative;

    .ribbon {
      position: absolute;
      left: -62px;
      top: 10px;
    }
  }
}
