@font-face {
  font-family: Lora;
  src: local("Lora"),
  url(../fonts/Lora/LoraBold/LoraBold.woff);
  font-style: bold;
}

@font-face {
  font-family: Lora;
  src: local("Lora"),
  url(../fonts/Lora/LoraRegular/LoraRegular.woff);
  font-style: normal;
}

@font-face {
  font-family: Lora;
  src: local("Lora"),
  url(../fonts/Lora/LoraItalic/LoraItalic.woff);
  font-style: italic;
}
