.basic-footer {
  color: $gray;

  .navbar {
    margin-bottom: 0;
  }

  .footer-link {
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
    }
  }

  .footer-icon {
    padding-top: 8px;
    padding-bottom: 7px;
    opacity: 0.4;
    transition: opacity .3s;

    &:hover {
      opacity: 1;
      transition: opacity .3s;
    }
  }

  .made-by {
    padding: 15px 0;
  }

  @media screen and (max-width: 767px) {
    & .nav > li {
      display: inline-block;
    }

    .made-by {
      width: 100%;
    }
  }

  @media screen and (min-width: 768px) {
    & .navbar {
      border-radius: 0 !important;
    }
  }
}
