.gallery {
  margin-bottom: 40px;
  position: relative;
  min-height: 600px;
  margin-bottom: 80px;

  .gallery-items {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }

  .gallery-item {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    transition: all .3s;
    padding: 20px 20px 60px;
    background-color: white;
    box-shadow: 0 0 15px 2px invert($gray);

    img {
      height: auto;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .next, .prev {
    position: absolute;
    z-index: 2000;
    top: 50%;
  }

  .next {
    right: 0;
    transform: translate(50%, -50%);
  }

  .prev {
    left: 0;
    transform: translate(-50%, -50%);
  }
}
