body {
  background-color: $black-background;
  
}

.main-container {
  padding-top: 50px;
  min-height: 100vh;
}

.first-page {
  background-image: url(images/bg/bg_main.jpg);
  background-size: cover;
}

.page-title {
  text-align: center;
  color: white;
  margin: 55px 0;
  letter-spacing: 0.08em;

  .vingette {
    opacity: .4;
  }
}

.basic-title {
  font-size: 30px;
  color: $red;
}

.basic-title-min {
  font-size: 30px;
  color: $red;
}
