body {
  background-color: $black-background;
}

.main-container {
  min-height: 100vh;
  padding-top: 50px;
  background-image: url(images/bg/bg_main.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  transition: transform .3s;
}

.main-container-full-height-item {
  flex: 1;
}

.page-title {
  text-align: center;
  color: white;
  margin: 55px 0;
  letter-spacing: 0.08em;

  .vingette {
    display: inline;
    opacity: .4;
  }
}

.basic-title {
  font-size: 30px;
  color: $red;
}

.basic-title-min {
  font-size: 30px;
  color: $red;
}
