.general-font {
  font-family: 'PT Sans', sans-serif;
}

.main-container {
  margin-top: 50px;
  min-height: calc(100vh - 50px);
}

.first-page {
  background-image: url(images/bg/bg_main.jpg);
  background-size: cover;
}

.page-title {
  text-align: center;
  color: white;
  margin: 55px 0;
  letter-spacing: 0.08em;

  .vingette {
    opacity: .4;
  }
}
