.logo img {
  height: 50px;
}

.navbar-inverse {
  background-color: $black-background;
  border: none;
}

.navbar-inverse .navbar-nav > li {
  & > a {
    background-color: inherit !important;
    letter-spacing: 0.1em;
    transition: all .3s !important;

    &:hover {
      transition: all .3s;
    }
  }

  &.active > a {
    background-color: inherit !important;
    letter-spacing: 0.1em;
    transition: all .3s !important;

    &:hover {
      transition: all .3s;
    }
  }
}

.menu {
  @media screen and (max-width: 767px) {
    display: block;
    height: 100%;
    width: $navigation-push-width;
    min-height: 100vh;
    transform: translateX(-100%);
    transition: all .3s;
    border-right: 1px solid $gray;

    & a {
      font-size: 18px;
      padding: 20px 15px !important;
    }

    &.push {
      transform: translateX(0);
    }

    li + li {
      border-top: 1px solid $gray;
    }
  }
}

.main-container.push {
  transform: translateX($navigation-push-width);
  transition: all .3s;
}

.navigation-toggler {
  background: none;
  border: none;
  outline: none;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
}
