.logo img {
  height: 50px;
}

.navbar-inverse {
  background-color: $black-background;
  border: none;
}

.navbar-inverse .navbar-nav > li > a {
  background-color: inherit;
  letter-spacing: 0.1em;
  transition: all .3s;

  &:hover {
    transition: all .3s;
  }
}
