.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  font-size: 30px;
}

.icon-instagram {
  padding-top: 2px;
  width: 0.857421875em;
  color: white;
}

.icon-vk {
  width: 1.08203125em;
  color: white;
}

.icon-bars {
  color: white;
}
