.news {
  padding-top: $news-padding;
  padding-bottom: $news-padding;
  background-color: white;

  .ribbon-positioner {
    position: relative;
  }

  .ribbon-link {
    position: absolute;
    top: $news-ribbon-top;
    right: 0;
  }

  .news-date {
    color: invert($gray);
    margin: 0;
  }

}

.news-title {
  color: $red;
  font-size: $font-size-card-title;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  cursor: pointer;
  transition: color .3s;

  &:hover {
    text-decoration: none;
    color: $red-lighten;
    transition: color .3s;
  }
}

.news-list {
  margin-bottom: 55px;

  .news-item {
    background-color: white;
    padding: 20px;
    margin-bottom: 25px;
  }

  .news-item-image {
    height: 200px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
  }

  .news-item-title {
  }

  .news-item-lead {
    height: 80px;
    overflow: hidden;

    p { margin: 0 }
  }
}
