.news {
  padding-top: $news-padding;
  padding-bottom: $news-padding;
  background-color: white;

  .ribbon-positioner {
    position: relative;
  }

  .ribbon-link {
    position: absolute;
    top: $news-ribbon-top;
    right: 0;

    @media screen and (max-width: 767px) {
      & {
        top: auto;
        bottom: $news-ribbon-top;
        z-index: 1000;
        right: $ribbon-arrow-width;
      }
    }
  }

  .news-date {
    color: invert($gray);
    margin: 0;
  }

}

.news-title {
  color: $red;
  font-size: $font-size-card-title;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: $red;
  }
}

.news-list {
  margin-bottom: 55px;

  .news-item {
    background-color: white;
    padding: 20px;
    margin-bottom: 25px;
  }

  .news-item-image {
    height: 200px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
  }

  .news-item-title {
  }

  .news-item-lead {
    height: 80px;
    overflow: hidden;

    p { margin: 0 }
  }
}

.news-article {
  background-color: white;
  padding: 30px 20px 50px;
  margin-bottom: 25px;

  .news-title {
    margin-bottom: 10px
  }

  .news-overview {
    height: 40px;
    overflow: hidden;

    p { margin: 0 }
  }
}
