.promo-block {
  font-family: Lora, Arial, sans;
  font-size: 40px;
  font-style: bold;
  color: white;

  img {
    display: block;
    height: 150px;
    margin: 50px auto;
  }

  .promo-text {
    margin-bottom: 50px;
  }
}
