.promo-block {
  font-family: Lora, Arial, sans;
  font-size: 40px;
  font-style: bold;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    display: block;
    height: 150px;
    margin: 50px auto;
  }

  .promo-text {
    margin-bottom: 50px;
  }

  @media screen and (max-width: 767px) {
    font-size: 30px;

    img {
      height: auto;
      width: 100%;
    }
  }
}
