.lora-normal {
  font-family: Lora;
  font-weight: normal;
  font-style: normal;
}

.lora-bold {
  font-family: Lora;
  font-weight: bold;
  font-style: bold;
}

.lora-italic {
  font-family: Lora;
  font-weight: italic;
  font-style: italic;
}
